<div class="container pull-right">
  <ul class="nav navbar-nav navbar-right">
  <p>ユーザー名検索</p>
  <form action="/users" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <input type="text" name="search" id="search" value="" class="form-control" placeholder="キーワードを入力・・・">
    <input type="submit" value="検索" class="btn btn-primary" data-disable-with="検索"></form></ul></div>