<% provide(:title, '一覧') %>

<!--検索をしたら --!>
<% if params[:search].present?%> <!-- params[:カラム名].メソッド? --!>
 <h1>検索結果</h1>
<% else %>
 <h1>ユーザ一覧</h1>
<% end %>

<%= render 'users/search' %>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>