<% provide(:title,'勤怠表示') %>
<!DOCTYPE html>
<html>
    <head>
<title></title>
</head>
<body>
    <table class = "table-condensed table-bordered">
    <tr>
        <td>時間管理表</td>
        <td>指定勤務時間</td>
        <td>基本時間</td>
        <td>初日</td>
    </tr>
    <tr>
        <td>所属</td>
        <td>氏名:<%= @user.name %></td>
        <td>出勤日数</td>
        <td>末日</td>
    </tr>
    </table>
</body>
</html>

